.bannerImg{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 400px;
    position: relative;
    margin-top: 70px;
}
.bannerText{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.bannerText h2{
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #252525;
    width: 600px;
    margin-bottom: 20px;
}
.bannerText a{
    display: inline-block;
    background: #05297F;
    border-radius: 20px;
    padding: 9px 18px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}