.rs-carousel {
    height: 550px !important;
    margin-top: 25px;
    margin-bottom: 100px;
}
.rs-carousel-slider-after, .rs-carousel-slider-item {
    background-color: transparent !important;
}
.sliderItem{
    position: relative;
}
.sliderImg{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
}
.sliderText{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sliderText h5{
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #05297F;
    padding: 10px 0;
}
.sliderText h1{
    width: 550px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #252525;
    padding: 10px 0 40px 0;
}
.sliderText a{
    display: inline-block;
    background: #05297F;
    border-radius: 20px;
    padding: 9px 18px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.rs-carousel-shape-dot .rs-carousel-label{
    background-color: #B1B1B1 !important;
}
.rs-carousel-label-wrapper input:checked~label {
    background-color: #FC9D9D !important;
    transform: scale(1.3);
}